<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NuGet Package Vizualiser">
    <meta name="author" content="Punit Ganshani">
    <title>NuGetViz - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Html.Partial(MVC.Shared.Views.ViewNames._SiteMeta)
    @Html.Partial(MVC.Shared.Views.ViewNames._GoogleAnalytics)
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>NuGetViz</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.ganshani.com/open-source/nuget-visualizer/" target="_blank">About</a></li>
                    <li><a href="https://github.com/punitganshani/NuGetViz" target="_blank">Source Code</a></li>
                    <li><a href="https://github.com/punitganshani/NuGetViz/releases" target="_blank">Download</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>
                        Visualize Packages<br />
                        from any NuGet source
                    </h1>
                    @using (Html.BeginForm(MVC.NuGet.ActionNames.Search, MVC.NuGet.Name, FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        <div class="form-group">
                            <input type="hidden" name="request.Source" id="request.Source" value="NuGet" />
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle repoTitle" type="button" data-toggle="dropdown">
                                    Select Repository
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu repoList" role="menu" aria-labelledby="dropdownMenu">
                                    @foreach (var repo in SharedInfo.Instance.Config.Repositories)
                                    {
                                        <li><a href="#" data-source="@repo.Key">@repo.Name</a></li>
                                    }
                                </ul>
                            </div>
                            @Html.TextBox("request.SearchTerm", "", new { @class = "form-control", @type = "text", @placeholder = "Search Packages" })
                            <button type="submit" class="btn btn-warning btn-lg searchPackage">Search!</button>
                        </div>
                    }
                </div><!-- /col-lg-6 -->
                <div class="col-lg-6">
                    <img class="img-responsive" src="~/Assets/img/nugetlogo.png" alt="">
                </div><!-- /col-lg-6 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div><div class="container">
        <p class="centered"><small>&copy; @DateTime.Now.Year - <a href="http://www.ganshani.com">Punit Ganshani</a></small></p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(".repoList li a").click(function () {
            var child = $(".repoTitle:first-child");

            child.text($(this).text());
            child.val($(this).text());
            $("#request.Source").val($(this).data("source"));
        });
    </script>
</body>
</html>